body{
  background-color: rgb(129,255,201);
  font-family: sans-serif;
}
#header{
  background-color: rgb(177,270,277);
  height: 120px;
  width: 1910px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
#logo{
  width: 400px;
  height: 100px;
}
#logoutbtn{
  text-decoration: none;
}
#logoutbtn p{
  color: black;
  position: absolute;
  top: -10px;
  left: 20px;
}
#logoutbtn div{
  height: 30px;
  width: 100px;
  position: absolute;
  top: 150px;
  left: 40px;
  background-color: white;
  border: 2px solid rgb(255,195,0);
  border-radius: 15px;
}
#logoutbtn div:hover{
  background-color: rgb(218,247,166);
}
